{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="relative min-h-screen w-full flex flex-col p-4 text-white">

		<!--Menu section-->
		<menu id="menu" class="hidden bg-white text-gray-800 text-sm rounded-md drop-shadow-lg font-semibold p-2 fixed top-10 left-0">
			<a href="{% url 'weather_app:index' %}"><p class="hover:bg-sky-500 hover:text-white p-1 w-fit rounded-md">Home</p></a> <hr/>
			<a href="{% url 'weather_app:weekly_forecast' %}"><p class="hover:bg-sky-500 hover:text-white p-1 w-fit rounded-md">7 days forecast</p></a><hr/>
			<p class="p-1 w-fit rounded-md">Temperature units</p>
			<ul class="pl-4 text-sm">
				<li class="hover:bg-sky-500 hover:text-white rounded-lg p-1"><a href="{% url 'weather_app:set_temp_units' 'celsius' %}">Celsius</a></li>
				<li class="hover:bg-sky-500 hover:text-white rounded-lg p-1"><a href="{% url 'weather_app:set_temp_units' 'fahrenheit' %}">Fahrenheit</a></li>
			</ul>
			<hr/>
			<a href="{% url 'weather_app:attrib' %}"><p class="hover:bg-sky-500 hover:text-white p-1 w-fit rounded-md">Attributions</p></a><hr/>
			<a href="{% url 'weather_app:comment' %}"><p class="hover:bg-sky-500 hover:text-white p-1 w-fit rounded-md">Leave a comment</p></a>
		</menu>

		<button class="text-black" id="menu_button">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-logs"><path d="M13 12h8"/><path d="M13 18h8"/><path d="M13 6h8"/><path d="M3 12h1"/><path d="M3 18h1"/><path d="M3 6h1"/><path d="M8 12h1"/><path d="M8 18h1"/><path d="M8 6h1"/></svg>
		</button>

		<script>
			/*This Script adds interactivity to the menu button for 
			displaying and hiding the menu. */
			const btn = document.getElementById("menu_button");
			const menu = document.getElementById("menu");
			btn.addEventListener("click", (e)=> {
				if(menu.style.display === "block"){
					menu.style.display = "none";
				}
				else{
					menu.style.display = "block";
				}
			})
			menu.addEventListener("click", (e)=>{
				menu.style.display = "none";
			})
		</script>
        {% block content %}{% endblock content %}
    </body>
</html>